.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
}
.container__img {
  margin-right: 1.5rem;
  border-right: 1px solid #d7dad9;
  max-width: 10rem;
  height: auto;
  padding-right: 2rem;
}
.container__item {
  margin-left: 40rem;
}
.container__text--bold {
  font-weight: 800;
}

.btn__true {
  margin-left: 50rem;
  background-color: #007fff;
  color: #fff;
  font-weight: bold;
}
.btn__false {
  margin-left: 50rem;
  background-color: #fff;
  color: #007fff;
  font-size: 0.5rem;
}

@media (max-width: 600px) {
  .container__img {
    max-width: 4.5rem;
  }
  .container__item {
    margin-left: 5%;
  }
  .container__text--bold {
    font-weight: 700;
  }
  .btn__true {
    margin-left: 20%;
    font-weight: bold;
  }
  .btn__false {
    margin-left: 20%;
    font-size: 0.5rem;
  }
}

@media (max-width: 900px) {
  .container__img {
    margin-right: 7%;
    max-width: 7rem;
  }
  .container__item {
    margin-left: 50%;
  }
  .btn__true {
    margin-left: 80%;
    font-weight: bold;
  }
  .btn__false {
    margin-left: 80%;
    font-size: 0.5rem;
  }
}
@media (max-width: 1200px) {
  .container__img {
    margin-right: 7%;
    max-width: 7rem;
  }
  .container__item {
    margin-left: 50%;
  }
  .btn__true {
    margin-left: 80%;
    font-weight: bold;
  }
  .btn__false {
    margin-left: 80%;
    font-size: 0.5rem;
  }
}
