*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

h6 {
  text-align: left;
  margin-bottom: 5px;
}
span,
strike {
  display: inline-block;
  font-size: 0.6rem;
  margin-right: 3px;
}
