*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}

h6 {
  text-align: left;
  margin-bottom: 4px;
}

span,
strike {
  font-size: 0.7rem;
}
